<div class="text-center">
    <h1 class="title">Contact Us</h1>

    <div class="login">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">Full Name</span>
                    <input id="fullName" name="fullName" type="text" class="form-control"
                           aria-describedby="Full Name" aria-label="Full Name Input" required>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Email Address</span>
                    <input id="emailAddress" name="emailAddress" type="email" class="form-control"
                           aria-describedby="Email Address" aria-label="Email Address Input" required>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Subject</span>
                    <input id="subject" name="subject" type="tel" class="form-control"
                           aria-describedby="Subject" aria-label="Subject Input">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Your Message</span>
                    <input id="message" name="message" class="form-control" style="height: 200px;"
                           aria-describedby="Message Area" aria-label="Message Area Input">
                </div>

                <button id="sendButton" type="submit" class="btn btn-outline-info">
                    <i class="fa-solid fa-envelope"></i>
                    Submit
                </button>

                <button id="cancelButton" type="reset" class="btn btn-outline-info">
                    <i class="fa-solid fa-rotate-left"></i>
                    Cancel
                </button>
            </div>
            <div class="col main-paragraph-container">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div class="login">
        <div class="row ">
            <div class="col">
                <ul>
                    <h1 class="blog-title">Address:</h1>
                </ul>
                <ul>
                    <a>3303 Meadow Drive, Oklahoma City, OK, 73135</a>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <h1 class="blog-title">Hours:</h1>
                </ul>
                <ul>
                    <a>Mon-Fri</a>
                </ul>
                <ul>
                    <a>9:00am to 5:00pm</a>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <h1 class="blog-title">Contact Info:</h1>
                </ul>
                <ul>
                    <a data="">+1 (234) 567-890</a>
                </ul>
                <ul>
                    <a data="https://www.youtube.com/watch?v=nEFcbKF4WfY">scam@harmonyhub.ca</a>
                </ul>
            </div>
        </div>
    </div>

    <div id="feedbackMessageArea"></div>

    <h1 class="title">We Would Love to Hear From You</h1>
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6 login">
            <div class="rating">
                <span class="star" data-rating="5">&#9733;</span>
                <span class="star" data-rating="4">&#9733;</span>
                <span class="star" data-rating="3">&#9733;</span>
                <span class="star" data-rating="2">&#9733;</span>
                <span class="star" data-rating="1">&#9733;</span>
                <input type="hidden" name="rating" id="rating" value="0">
            </div>
            <div class="input-group mb-3">
                <textarea id="review" name="review" class="form-control" style="height: 200px;"
                          aria-describedby="Message Area" aria-label="Review"></textarea>
            </div>
            <button id="reviewButton" type="submit" class="btn btn-outline-info">
                <i class="fa-solid fa-envelope"></i>
                Submit
            </button>
            <button id="cancelReviewButton" type="reset" class="btn btn-outline-info">
                <i class="fa-solid fa-rotate-left"></i>
                Cancel
            </button>
        </div>
        <div class="col"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="Contact" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalTitle">
                    Thank you for submitting the form! You will be redirected in 5 seconds.
                </h5>
            </div>
            <div class="modal-body">
                <p id="modalFullName"></p><br>
                <p id="modalEmailAddress"></p><br>
                <p id="modalSubject"></p><br>
                <p id="modalMessage"></p><br>
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="ContactErrorModal" tabindex="-1" role="dialog" aria-labelledby="Contact" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactErrorModalTitle">
                    Error!
                </h5>
            </div>
            <div class="modal-body">
                <p>
                    You left something blank. Please fill in everything. To close this message click anywhere
                    outside the box.
                </p>
            </div>
        </div>
    </div>
</div>
