<div id="background-overlay">
    <!-- Video container -->
    <video autoplay loop muted class="video-background">
        <source src="client/content/pictures/1655962330-1655962330-return-to-valorant-city-star-guardian-live-wallpaper.mp4"
                type="video/mp4">
    </video>
</div>

<h1 class="centered-heading">Welcome to the Harmony Hub</h1>

<div class="col main-paragraph-container">
    <p>
        Welcome to Harmony Hub – your centralized control hub for seamless entertainment and smart home
        experiences!
        We're thrilled to have you on board. Get ready to simplify your life with Harmony's intuitive features,
        allowing you to effortlessly manage your devices and create custom activities.

        Whether it's turning on your home theater system or setting the perfect mood lighting, Harmony Hub is
        here to harmonize your home.

        Explore, customize, and enjoy the convenience of connected living. Let the harmony begin!
    </p>

</div>