<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container">
    <h1 class="title">Page Statistics</h1>
</div>
<div class="row">
    <div class="col">
        <canvas id="acquisitions"></canvas>
<!--        <script src="chart.js"></script>-->
    </div>
</div>